* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #621402;
  color: #FFF;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(98, 20, 2, 0.31)), color-stop(85.62%, #621402)), url("../img/bg.jpg") no-repeat top center/cover;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../img/bg.jpg") no-repeat top center/cover;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 0 0 17px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.user {
  margin-left: auto;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  max-width: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.film {
  margin: 60px 0 0 0;
  color: #fff;
}

.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}

.film-title {
  margin: 11px 0 23px 0;
  font-size: 36px;
  line-height: 42px;
}

.film-description {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}

.film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-trailer {
  margin: auto;
}

.film-details {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-icon {
  margin: 0 14px 0 0;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 34px;
}

.rating-icon {
  margin: 0 14px 0 0;
}

.rating-current {
  font-size: 24px;
  line-height: 150%;
}

.session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 62px 0 0 0;
  padding: 46px 0 63px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session-date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.session-date-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.session-date-item:hover {
  background-color: #FE8E05;
  color: #621402;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session-month {
  font-size: 16px;
  line-height: 19px;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.sel {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 28px 0 18px 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

.select-cinema {
  min-width: 470px;
}

.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
}

.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
  fill: #FE8E05;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 1024px;
  padding-top: 22px;
  padding-bottom: 38px;
}

.legend svg {
  margin-right: 15px;
}

.legend-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.price-tag {
  font-size: 52px;
  line-height: 61px;
}

.button {
  text-decoration: none;
  background: #FE8E05;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */